.CategoryNavigation {

  &-link {
    border: 1px solid $cLightGrey;
    border-radius: 4px;
    color: $cGrey;
    display: block;
    font-weight: 700;
    margin: 4px 2px;
    padding: 4px 10px;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;

    @include mq($bpSmall) {
      display: inline-block;
    }

    &:hover {
      background-color: $cTeal;
      border-color: transparent;
      color: $cWhite;
    }
  }
}
