// -----------------------------------------------------------------------------
// Category Navigation
// -----------------------------------------------------------------------------

.CategoryNavigation {

  &-link {
    @include transition(all 200ms ease);
    @include rem(padding, 4px 10px);
    @include rem(margin, 4px 2px);
    @include mq($bpSmall) {
      display: inline-block;
    }

    display: block;
    border: 1px solid $cLightGrey;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    color: $cGrey;

    &:hover {
      background-color: $cTeal;
      color: $cWhite;
      border-color: transparent;
    }
  }
}
