.Footer {

  &-inner {
    @extend %clearfix;

    color: $cGrey;
    border-top: 1px solid $cLightGrey;
    border-bottom: 1px solid $cLightGrey;
    margin: 64px 0;
    padding: 32px 0;
  }

  &-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    display: inline-block;

    &:after {
      color: $cLightGrey;
      content: " • ";
    }

    &:last-child:after {
      content: "";
    }
  }

  &-link {
    transition: color 200ms easein-out;
  }

  &-employers {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      &:after {
        color: $cLightGrey;
        content: " • ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  &-friends {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      &:after {
        color: $cLightGrey;
        content: " • ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}
