.Logo {
  display: block;
  line-height: 0;
  transition: color 200ms ease-in-out;

  @include vertCenter(absolute);

  &-svg {
    fill: $cWhite;
    height: 64px;
    transition: fill 200ms ease-in-out;
    width: 64px;

    &:hover {
      fill: $cRed;
    }
  }
}
