// -----------------------------------------------------------------------------
// Masthead
// -----------------------------------------------------------------------------

.Masthead {
  @include rem(padding, 64px 0);

  &-headline {
    @include font-size(48px);
    @include mq($bpMid) {
      @include font-size(64px);
    }

    color: $cWhite;
    margin: 0;
    line-height: 1;
  }
  &-excerpt {
    @include font-size(18px);
    @include mq($bpMid) {
      @include font-size(24px);
    }

    color: $cLightTeal;
    margin: 0;
  }
  &-date {
    @include rem(margin, 32px 0 0 0);

    color: $cLightTeal;
    font-family: "Courior", monospace;
    font-weight: 700;
  }
}
