.Masthead {
  padding: 64px 0;

  &-headline {
    color: $cWhite;
    font-size: 48px;
    line-height: 1;
    margin: 0;

    @include mq($bpMid) {
      font-size: 64px;
    }
  }

  &-summary {
    color: $cLightTeal;
    font-size: 18px;
    margin: 0;

    @include mq($bpMid) {
      font-size: 24px;
    }
  }

  &-meta {
    color: $cLightTeal;
    font-family: "Courior", monospace;
    font-weight: 700;
    margin: 32px 0 0 0;
  }

  &-link {
    color: $cLightTeal;

    &:hover {
      color: $cRed;
    }
  }

  &-date {
    display: block;

    @include mq($bpMid) {
      display: inline;
    }
  }

  &-category {
    display: block;

    @include mq($bpMid) {
      display: inline;
    }
  }

  &-tags {
    display: block;

    @include mq($bpMid) {
      display: inline;
    }
  }
}
