// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

.Navigation {
  @include clearfix;
  @include rem(padding, 16px);

  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.5);

  &-toggle {
    @include mq($bpMid) {
      display: none;
    }

    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
    float: right;

    &.active {
      @include mq($bpMid) {
        display: none;
      }

      .Navigation-bars {
        background-color: transparent;

        &:before,
        &:after {
          @include transition-delay(0ms, 200ms);
        }
        &:before {
          @include transform(rotate(45deg));

          top: 0;
        }
        &:after {
          @include transform(rotate(-45deg));
          bottom: 0;
        }
      }
    }
  }
  &-bars {
    @include transition-property(background-color);
    @include transition-duration(0ms);
    @include transition-delay(200ms);

    position: absolute;
    top: 21px;
    left: 5px;
    right: 5px;
    height: 3px;
    background-color: $cWhite;
    text-indent: -9999px;

    &:before,
    &:after {
      @include transition-duration(200ms, 200ms);
      @include transition-delay(200ms, 0ms);

      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $cWhite;
      content: "";
    }
    &:before {
      @include transition-property(top, transform);
      @include transition-duration(200ms, 200ms);
      @include transition-delay(200ms, 0ms);

      top: -10px;
    }
    &:after {
      @include transition-property(bottom, transform);
      @include transition-duration(200ms, 200ms);
      @include transition-delay(200ms, 0ms);

      bottom: -10px;
    }
  }
  &-links {
    @include mq($bpMid) {
      margin: 0;
      float: right;
      display: block;
    }

    padding: 0;
    list-style: none;
    float: none;
    display: none;
    text-align: center;

    &.active {
      @include rem(margin, 0 64px 0 64px);
      @include mq($bpMid) {
        margin: 0;
      }

      display: block;

      .Navigation-links {
        display: block;
      }
    }
  }
  &-item {
    @include mq($bpMid) {
      display: inline-block;
    }

    display: block;
  }
  &-link {
    @include rem(padding, 8px 16px);
    @include transition(color 200ms ease);
    @include mq($bpMid) {
      display: inline-block;
    }

    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $cWhite;

    &:hover {
      color: $cRed;
    }
  }
}
