.Navigation {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding: 16px;
  position: relative;

  @extend %clearfix;

  &-toggle {
    cursor: pointer;
    float: right;
    height: 44px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 44px;

    @include mq($bpMid) {
      display: none;
    }

    &.active {
      @include mq($bpMid) {
        display: none;
      }

      .Navigation-bars {
        background-color: transparent;

        &:before,
        &:after {
          transition-delay: 0ms, 200ms;
        }

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &-bars {
    background-color: $cWhite;
    height: 3px;
    left: 5px;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 21px;
    transition-property: background-color;
    transition-duration: 0ms;
    transition-delay: 200ms;

    &:before,
    &:after {
      background-color: $cWhite;
      content: "";
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition-duration: 200ms, 200ms;
      transition-delay: 200ms, 0ms;
      width: 100%;
    }

    &:before {
      top: -10px;
      transition-property: top, transform;
      transition-duration: 200ms, 200ms;
      transition-delay: 200ms, 0ms;
    }

    &:after {
      bottom: -10px;
      transition-property: bottom, transform;
      transition-duration: 200ms, 200ms;
      transition-delay: 200ms, 0ms;
    }
  }

  &-links {
    display: none;
    float: none;
    list-style: none;
    padding: 0;
    text-align: center;

    @include mq($bpMid) {
      display: block;
      float: right;
      margin: 0;
    }

    &.active {
      display: block;
      margin: 0 64px 0 64px;

      @include mq($bpMid) {
        margin: 0;
      }

      .Navigation-links {
        display: block;
      }
    }
  }

  &-item {
    display: block;

    @include mq($bpMid) {
      display: inline-block;
    }
  }

  &-link {
    color: $cWhite;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 200ms ease-in-out;

    @include mq($bpMid) {
      display: inline-block;
    }

    &:hover {
      color: $cRed;
    }
  }
}
