.Pagination {
  margin-top: 64px;

  @extend %clearfix;

  &-previous {
    float: left;
  }

  &-next {
    float: right;
  }

  &-text {
    display: none;

    @include mq($bpMid) {
      display: inline;
    }
  }
}
