.Post {
  margin-top: 32px;

  &-date {
    color: $cLightGrey;
    font-family: "Courior", monospace;
    margin: 0;
  }

  &-title {
    margin: 0;
  }

  &-link {
    text-decoration: none;
    transition: color 200ms ease-in-out;
  }

  &-summary {
    margin: 0;
  }
}
