// -----------------------------------------------------------------------------
// Post
// -----------------------------------------------------------------------------

.Post {
  @include rem(margin-top, 32px);

  &-date {
    margin: 0;
    color: $cLightGrey;
    font-family: "Courior", monospace;
  }
  &-title {
    margin: 0;
  }
  &-link {
    @include transition(color 200ms ease);
    text-decoration: none;
  }
  &-summary {
    margin: 0;
  }
}
