.Social {

  &-links {
    display: none;
    line-height: 0;
    list-style: none;
    padding: 0;
    text-align: center;

    @include mq($bpMid) {
      display: block;
      margin: 0 0 0 64px;

      @include vertCenter(absolute);
    }

    &.active {
      display: block;
      margin: 0 64px 0 64px;

      @include mq($bpMid) {
        margin: 0;
      }

      .Navigation-links {
        display: block;
      }
    }
  }

  &-item {
    display: inline-block;
  }

  &-link {
    color: $cWhite;
    display: block;
    line-height: 0;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 200ms ease-in-out;

    @include mq($bpMid) {
      display: inline-block;
    }

    &:hover {
      color: $cRed;
    }
  }
}
