{{ partial "header.html" . }}

<div role="main">
  <div class="layout-widthDefault">
    {{ partial "title.html" . }}
    <div class="Posts u-mt16">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <h2 class="u-mt8 u-mb0">{{ .Key }}</h2>
        <ul class="Posts-links">
          {{ range .Pages }}
            <li class="Posts-item">
              <span class="Posts-date">{{ .Date.Format "January 2, 2006" }}</span>
              <a class="Posts-link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}