{{- define "main" -}}
<section class="container">
  <article class="article">
    <h2 class="article__title article__title--fancy">
      <span class="article__title--fancy-text">{{ .Title }}</span>
    </h2>
    <ul class="article__info article__info--fancy">
      <li class="article__info-item">
        <i class="fas fa-calendar-day fa-fw"></i>
        {{- .Date.Format "Monday, January 2 2006" -}}
      </li>
      <li class="article__info-item">
        <i class="fas fa-folder-open fa-fw"></i>
        {{ partial "post/category/list.html" . }}
      </li>
      <li class="article__info-item">
        <i class="fas fa-tags fa-fw"></i>
        {{ partial "post/tag/list.html" . }}
      </li>
      <li class="article__info-item">
        <i class="fas fa-clock fa-fw"></i>
        {{ .ReadingTime }} min read
      </li>
    </ul>
    <div class="markdown-text">
      {{ .Content }}
    </div>
  </article>
</section>
{{- end -}}
