.Post {

  &-meta {
    margin: 0;
    padding: 0;
  }

  &-metaItem {
    color: $cBlack054;
    display: inline-block;
    list-style: none;
    margin-right: 16px;
    text-transform: capitalize;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      color: $cBlack054;
      text-decoration: none;
      transition: color 250ms ease-in-out;

      @include fs-attention {
        color: $cRed;
      }
    }
  }

  &-title {
    margin: 0;
    text-transform: capitalize;
  }

  &-link {
    color: $cTeal;
    display: block;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    @include fs-attention {
      color: $cRed;
    }
  }

  &-more {
    color: $cBlack054;
    display: inline-block;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    @include fs-attention {
      color: $cRed;
    }
  }
}