.SiteNav {
  display: none;
  text-align: center;

  &.js-open {
    display: block;
  }

  @include fs-min-width($bpMid) {
    @include fs-vert-center($position: absolute);
    display: block;
    right: 22px;
  }

  &-links {
    margin: 0;
    padding: 0;
  }
  
  &-item {
    list-style: none;
    
    @include fs-min-width($bpMid) {
      display: inline-block;
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &-link {
    color: $cWhite070;
    display: block;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    @include fs-attention {
      color: $cWhite100;
    }
  }
}