.SocialNav {
  display: none;
  text-align: center;

  &.js-open {
    display: block;
  }

  @include fs-min-width($bpMid) {
    @include fs-vert-center($position: absolute);
    display: block;
    left: 96px;
  }

  &-links {
    margin: 0;
    padding: 0;
  }
  
  &-item {
    display: inline-block;
    list-style: none;

    &:first-of-type {
      &:before {
        display: none;
      }
    }

    &:before {
      color: $cWhite012;
      content: "•";
      margin: 0 8px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &-link {
    color: $cWhite070;
    display: inline-block;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    @include fs-attention {
      color: $cWhite100;
    }
  }
}