.Title {
  font-size: 24px;
  position: relative;
  text-align: center;
  text-transform: capitalize;

  @include fs-min-width($bpMid) {
    font-size: 32px;
  }

  &:before,
  &:after {
    background-color: $cBlack012;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 50%;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &-text {
    background-color: $cGray100;
    display: inline-block;
    padding: 0 8px;
    position: relative;
    z-index: 1;
  }
}