<div class="Footer" role="contentinfo">
  <div class="layout-widthDefault">
    <div class="Footer-inner">
      &copy; 2008-2015 felipenogueira3d. Have a comment, or want to get in touch? Email me at <a href="mailto:{{site.email}}">felipe@felipenogueira3d.com</a>. You can also find me on <a href="{{site.github}}">GitHub</a>, <a href="{{site.vimeo}}">Vimeo</a>, <a href="{{site.youtube}}">YouTube</a>, and <a href="{{site.linkedin}}">Linkedin</a>. More...
      <ul class="Footer-links">
        <li class="Footer-item"><a class="Footer-link" href="/sitemap.xml">Site Map</a></li>
        <li class="Footer-item"><a class="Footer-link" href="/feed.xml">Feed</a></li>
        <li class="Footer-item"><a class="Footer-link" href="/archive">Archive</a></li>
      </ul>
    </div>
  </div>
</div>
