<div class="Header" role="banner" {% if page.transparentHeader %}style="background-color: transparent"{% endif %}>
  <div class="Navigation" role="navigation" {% if page.noBorder %}style="border-bottom: 0"{% endif %}>
    <a class="Logo" href="/">{% include logo.html %}</a>
    <div id="navigation-toggle" class="Navigation-toggle" role="button">
      <div class="Navigation-bars">Menu</div>
    </div>
    <ul id="social-links" class="Social-links">
      <li class="Social-item"><a class="Social-link" href="{{site.github}}" title="GitHub"><i class="icon ion-social-github ion-24"></i></a></li>
      <li class="Social-item"><a class="Social-link" href="{{site.vimeo}}" title="Vimeo"><i class="icon ion-social-vimeo ion-24"></i></a></li>
      <li class="Social-item"><a class="Social-link" href="{{site.youtube}}" title="YouTube"><i class="icon ion-social-youtube ion-24"></i></a></li>
      <li class="Social-item"><a class="Social-link" href="{{site.linkedin}}" title="LinkedIn"><i class="icon ion-social-linkedin ion-24"></i></a></li>
      <li class="Social-item"><a class="Social-link" href="mailto:{{site.email}}" title="Email"><i class="icon ion-android-mail ion-24"></i></a></li>
    </ul>
    <ul id="navigation-links" class="Navigation-links">
      <li class="Navigation-item"><a class="Navigation-link" href="/posts">Posts</a></li>
      <li class="Navigation-item"><a class="Navigation-link" href="/projects">Projects</a></li>
      <li class="Navigation-item"><a class="Navigation-link" href="/demoreel">Demo Reel</a></li>
      <li class="Navigation-item"><a class="Navigation-link" href="/about">About</a></li>
    </ul>
  </div>
  {% if page.title %}
  <div class="Masthead">
    <div class="layout-widthDefault">
      {% if page.icon %}
        <h1 class="Masthead-headline">{{ page.icon }} {{ page.title }}</h1>
      {% else %}
        <h1 class="Masthead-headline">{{ page.title }}</h1>
      {% endif %}
      {% if page.summary %}
        <p class="Masthead-summary">{{ page.summary }}</p>
      {% endif %}
      {% if page.date %}
      <div class="Masthead-meta">
        {% if page.date %}
          <span class="Masthead-date">
            <i class="icon icon-calendar-o"></i>
            {% if page.categories %}
              <a class="Masthead-link" href="/archive#{{ page.date | date: '%Y' }}">{{ page.date | date: "%B %-d, %Y" }}</a>
            {% else %}
              {{ page.date | date: "%B %-d, %Y" }}
            {% endif %}
          </span>
        {% endif %}
        {% if page.category %}
          <span class="Masthead-category">
            <i class="icon icon-folder-o"></i>
            <a class="Masthead-link" href="/posts/categories/{{ page.category | slugify }}">{{ page.category | capitalize }}</a>
          </span>
        {% endif %}
        {% if page.tags %}
          <span class="Masthead-tags">
            <i class="icon icon-tags"></i>
            {% for tag in page.tags %}
              <a class="Masthead-link" href="/posts/tagged/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
