<ul class="MetaData">
  <li class="MetaData-item">
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
    <span>{{ dateFormat "January 2, 2006" .Params.project_date }}</span>
  </li>
  <li class="MetaData-item">
    <i class="fa fa-external-link" aria-hidden="true"></i>
    {{ with .Params.project_name }}
      <a href="{{ $.Params.project_url }}">{{ $.Params.project_name }}</a>
    {{ else }}
      <a href="{{ $.Params.project_url }}">{{ $.Params.project_url }}</a>
    {{ end }}
  </li>
</ul>