.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 0.8rem;
  padding: 0;

  @media #{$bp-desktop} {
    margin-bottom: 0;
    margin-left: auto;
  }

  &__item {
    display: inline-block;
    list-style: none;

    &:before {
      color: $color-white-012;
      content: '•';
      margin: 0 0.8rem;
    }

    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }

  &__link {
    color: $color-white-070;
    display: inline-block;

    &:hover,
    &:active {
      color: $color-white-100;
    }
  }
}
