// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$cWhite: #FFFFFF;
$cDarkTeal: #00796B;
$cTeal: #009688;
$cLightTeal: #B2DFDB;
$cRed: #FF5252;
$cDarkGrey: #212121;
$cGrey: #727272;
$cLightGrey: #B6B6B6;
