{{ $title := .Site.Params.title }}
{{ if ne .Title "" }}{{ $title = printf `%s - %s` .Title .Site.Params.title | safeHTML }}{{ end }}

<footer class="footer" role="contentinfo">
  <section class="container">
    <hr class="footer__line" />
    <ul class="footer__links footer__links--right">
      {{- if ne .Page.Type "home" -}}
      {{- with .OutputFormats.Get "rss" -}}
      <li class="footer__item footer__item--inline">
        <a class="footer__link" href="{{- .Permalink -}}" title="{{ $title }}">
          <i class="fas fa-rss fa-fw"></i>
          <span class="u-vh">{{ $title }}</span>
        </a>
      </li>
      {{- end -}}
      {{- end -}}
      {{- range .Site.Menus.footer -}}
      <li class="footer__item footer__item--inline">
        <a class="footer__link" href="{{- .URL -}}" title="{{- .Name -}}">
          <i class="fas fa-archive fa-fw"></i>
          <span class="u-vh">{{- .Name -}}</span>
        </a>
      </li>
      {{- end -}}
    </ul>
    <h3 class="footer__heading">Places I've worked...</h3>
    <ul class="footer__links footer__links--columns">
      {{- range $index, $employer := sort (where .Site.RegularPages "Section" "employers") "Params.weight" -}}
      <li class="footer__item">
        <a class="footer__link" href="{{- $employer.Params.website -}}" rel="nofollow noreferrer noopener"
          target="_blank">{{- $employer.Params.name -}}</a>
      </li>
      {{- end -}}
    </ul>
    <h3 class="footer__heading">People I know...</h3>
    <ul class="footer__links footer__links--columns">
      {{- range $index, $friend := sort (where .Site.RegularPages "Section" "friends") "Params.weight" -}}
      <li class="footer__item">
        <a class="footer__link" href="{{- $friend.Params.website -}}" rel="nofollow noreferrer noopener"
          target="_blank">{{- $friend.Params.name -}}</a>
      </li>
      {{- end -}}
    </ul>
    <p class="footer__copyright">{{ .Site.Params.Copyright | markdownify }}</p>
  </section>
</footer>
