.Terms {

  &-link {
    color: $cTeal;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 250ms ease-in-out;

    @include fs-attention {
      color: $cRed;
    }
  }
}