$base-font-color: $cBlack087;
$base-font-family: "Lato", sans-serif;
$base-font-size: 16px;
$base-font-weight: 500;
$base-line-height: 1.75;
$base-line-height-ratio: $base-line-height / $base-font-size;