// -------------------------------------------------------------------------
// Custom Normalize Styles
// -------------------------------------------------------------------------

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: border-box;
}

// Scale images globally, even if they have inline dimensions (which all images should have)
// http://www.456bereastreet.com/archive/201306/how_to_proportionally_scale_images_that_have_dimension_attributes/
img {
  height: auto;
  max-width: 100%;
}

// Ensure 3rd-party iframe embeds do not overlap sticky headers, nav dropdowns, modals, or other similar elements
iframe,
object,
embed {
  z-index: 1 !important;
}

// -------------------------------------------------------------------------
// Base Styles
// -------------------------------------------------------------------------

// Note: Setting the background-color on the html element is typically unnecessary
// http://css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/
//
// html {
//   background-color: transparent;// Allows the body's background-color to fill the page
// }

html {
  height: 100%;
}

body {
  background-color: #fafafa;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

a {
  @include transition(color, 200ms ease);

  color: $cTeal;
  text-decoration: none;

  &:hover {
    color: $cDarkTeal;
  }
}

pre {
  @include rem(padding, 16px);

  border: 1px solid $cLightGrey;
  border-radius: 5px;
  background-color: $cWhite;
  max-width: 100%;
  overflow: auto;
  line-height: 1.5;
}

// -------------------------------------------------------------------------
// Remove text-shadow in selection highlight: http://h5bp.com/i
// These selection rule sets have to be separate.
//
// Won't work on bullets, text inputs, or textareas
// http://stackoverflow.com/a/12208913/673457
// -------------------------------------------------------------------------
// ::-moz-selection {
//   background: ;
//   text-shadow: none;
// }

// ::selection {
//   background: ;
//   text-shadow: none;
// }
